# Environment Configuration
.env.mention-me
.env.*

# Client specific configuration
shopify.app.*.toml
!shopify.app.mention-me.toml
!shopify.app.custom-example.toml

# Dependency directory
node_modules

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# extensions build output
extensions/*/build
extensions/*/dist
.shopify/bundle
