# Learn more about configuring your checkout UI extension:
# https://shopify.dev/api/checkout-extensions/checkout/configuration

# The version of APIs your extension will receive. Learn more:
# https://shopify.dev/docs/api/usage/versioning
api_version = "2025-07"

[[extensions]]
type = "ui_extension"
name = "Mention Me Refer a Friend Journey"
handle = "order-status-ui"

# Controls where in Shopify your extension will be injected,
# and the file that contains your extension’s source code. Learn more:
# https://shopify.dev/docs/api/checkout-ui-extensions/unstable/extension-targets-overview

[[extensions.targeting]]
module = "./src/OrderStatusExtension.tsx"
# Changing this? Don't forget to change the .tsx file too.
target = "customer-account.order-status.block.render"
default_placement = "ORDER_STATUS1"

[[extensions.targeting]]
module = "./src/ThankYouExtension.tsx"
# Changing this? Don't forget to change the .tsx file too.
target = "purchase.thank-you.block.render"
default_placement = "ORDER_STATUS1"

[[extensions.targeting]]
module = "./src/ThankYouAnnouncementExtension.tsx"
# Changing this? Don't forget to change the .tsx file too.
target = "purchase.thank-you.announcement.render"

[extensions.capabilities]
# Gives your extension access to directly query Shopify’s storefront API.
# https://shopify.dev/docs/api/checkout-ui-extensions/unstable/configuration#api-access
api_access = true

# Gives your extension access to make external network calls, using the
# JavaScript `fetch()` API. Learn more:
# https://shopify.dev/docs/api/checkout-ui-extensions/unstable/configuration#network-access
network_access = true

# Loads metafields on checkout resources, including the cart,
# products, customers, and more. Learn more:
# https://shopify.dev/docs/api/checkout-ui-extensions/unstable/configuration#metafields

# The metafields for the extension
# We grab the following metafields to use for segmentation - see useSegmentFromMetafields.ts
[[extensions.metafields]]
namespace = "mention-me"
key = "segment"

# One of our clients uses Loyalty Lion for metafields, so let's grab that.
[[extensions.metafields]]
namespace = "loyaltylion"
key = "loyalty_tier"

# One of our clients uses Yotpo for metafields, so let's grab that.
[[extensions.metafields]]
namespace = "yotpo"
key = "tier"

# Defines settings that will be collected from merchants installing
# your extension. Learn more:
# https://shopify.dev/docs/api/checkout-ui-extensions/unstable/configuration#settings-definition


[[extensions.settings.fields]]
key = "image_location"
type = "single_line_text_field"
name = "Image location"
description = "Choose the location of the image on the offer."

[[extensions.settings.fields.validations]]
name = "choices"
value = "[\"Top\", \"Above information notice\", \"Above CTA\", \"Below CTA\"]"
